<template>
    <app-layout-admin>
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Branch <small>Create</small></h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form @submit.prevent="submit">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1"
                                    >Branch Name</label
                                >
                                <input
                                    type="text"
                                    name="branch"
                                    id="name"
                                    v-model="this.form.name"
                                    class="form-control"
                                    placeholder="name"
                                />
                                <span
                                    class="error invalid-feedabck"
                                    v-if="errors.name"
                                    >{{ errors.name }}</span
                                >
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1"
                                    >Address</label
                                >
                                <input
                                    type="text"
                                    name="address"
                                    id="address"
                                    v-model="this.form.address"
                                    class="form-control"
                                    placeholder="address"
                                />
                                <span
                                    class="error invalid-feedabck"
                                    v-if="errors.address"
                                    >{{ errors.address }}</span
                                >
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button
                                type="submit"
                                class="btn btn-primary"
                                :disabled="form.processing"
                            >
                                Submit
                            </button>
                        </div>
                        <progress
                            v-if="form.progress"
                            :value="form.progress.percentage"
                            max="100"
                        >
                            {{ form.progress.percentage }}%
                        </progress>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6"></div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </app-layout-admin>
</template>

<script>
import AppLayoutAdmin from "../../../Layouts/AppLayoutAdmin.vue";

export default {
    props: {
        errors: Object,
    },
    components: { AppLayoutAdmin },
    data() {
        return {
            form: {
                name: null,
                address: null,
            },
        };
    },

    methods: {
        submit() {
            this.$inertia.post(route("branch.store"), this.form);
        },
    },
};
</script>

<style></style>
