<template>
    <app-layout-admin>
        <div style="margin-left: 92%; margin-bottom: 15px">
            <inertia-link
                :href="route('branch.create')"
                class="btn-lg btn-primary"
                >Create</inertia-link
            >
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Expandable Table</h3>
                    </div>
                    <!-- ./card-header -->
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Branch Name</th>
                                    <th>Address</th>
                                    <th>Created</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    data-widget="expandable-table"
                                    aria-expanded="false"
                                    v-for="branch in branches"
                                    :key="branch.id"
                                >
                                    <td>{{ branch.id }}</td>
                                    <td>{{ branch.name }}</td>
                                    <td>{{ branch.address }}</td>
                                    <td>{{ branch.created_at }}</td>
                                    <td>
                                        <a :href="route('branch.destroy',branch.id)" class="btn  btn-danger">
                                            <span class="badge bg-teal"
                                                ></span
                                            >
                                            <i class="fas fa-trash"></i> 
                                        </a>
                                        <a class="ml-2 btn  btn-primary">
                                            <span class="badge bg-teal"
                                                ></span
                                            >
                                            <i class="fas fa-edit"></i> 
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </app-layout-admin>
</template>

<script>
import AppLayoutAdmin from "../../../Layouts/AppLayoutAdmin.vue";
export default {
    props: ["branches"],
    components: { AppLayoutAdmin },
    data() {
        return {};
    },
};
</script>

<style></style>
