<template>
  <app-layout-admin >

  </app-layout-admin>
</template>

<script>
import AppLayoutAdmin from '../../../Layouts/AppLayoutAdmin.vue'
export default {
  components: { AppLayoutAdmin },

}
</script>

<style>

</style>