<template>
    <app-layout-admin>
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">User <small>Create</small></h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form @submit.prevent="submit">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1"
                                    >User Name</label
                                >
                                <input
                                    type="text"
                                    id="name"
                                    v-model="this.form.name"
                                    class="form-control"
                                    placeholder="name"
                                />
                                <span
                                    class="error invalid-feedabck"
                                    v-if="errors.name"
                                    >{{ errors.name }}</span
                                >
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Email</label>
                                <input
                                    type="text"
                                    id="email"
                                    v-model="this.form.email"
                                    class="form-control"
                                    placeholder="email"
                                />
                                <span
                                    class="error invalid-feedabck"
                                    v-if="errors.email"
                                    >{{ errors.email }}</span
                                >
                            </div>
                                <!-- select -->
                                <div class="form-group">
                                    <label>Role</label>
                                    <select class="form-control" v-model="this.form.role_name">
                                        <option v-for="role in all_roles" :key="role.name" >{{role.name}}</option>
                                      
                                    </select>
                                </div>
                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button
                                type="submit"
                                class="btn btn-primary"
                                :disabled="form.processing"
                            >
                                Submit
                            </button>
                        </div>
                        <progress
                            v-if="form.progress"
                            :value="form.progress.percentage"
                            max="100"
                        >
                            {{ form.progress.percentage }}%
                        </progress>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6"></div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </app-layout-admin>
</template>

<script>
import AppLayoutAdmin from "../../../Layouts/AppLayoutAdmin.vue";

export default {
    props: ["all_roles", "errors"],
    components: { AppLayoutAdmin },
    data() {
        return {
            form: {
                name: null,
                email: null,
                role_name: null,
            },
        };
    },

    methods: {
        submit() {
            this.$inertia.post(route("user.store"), this.form);
        },
    },
};
</script>

<style></style>
