<template>
  <app-layout-admin>
    <div style="margin-left: 92%; margin-bottom: 15px">
      <inertia-link :href="route('user.create')" class="btn-lg btn-primary"
        >Create</inertia-link
      >
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Expandable Table</h3>
          </div>
          <!-- ./card-header -->
          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>User Name</th>
                  <th>Role</th>
                  <th>Email</th>
                  <th>Created</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  data-widget="expandable-table"
                  aria-expanded="false"
                  v-for="user in users"
                  :key="user.id"
                >
                  <td>{{ user.id }}</td>
                  <td>{{ user.name }}</td>
                  <td>
                    <span
                      class="right badge badge-danger"
                      v-for="role in user.roles"
                      :key="role.id"
                      >{{ role.name }}</span
                    >
                  </td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.created_at }}</td>
                  <td>
                    <a
                      :href="route('user.destroy', user.id)"
                      class="btn btn-danger"
                    >
                      <span class="badge bg-teal"></span>
                      <i class="fas fa-trash"></i>
                    </a>
                    <a class="ml-2 btn btn-primary">
                      <span class="badge bg-teal"></span>
                      <i class="fas fa-edit"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.row -->
  </app-layout-admin>
</template>

<script>
import AppLayoutAdmin from "../../../Layouts/AppLayoutAdmin.vue";
export default {
  props: ["users"],
  components: { AppLayoutAdmin },
  data() {
    return {};
  },
};
</script>

<style></style>
