<template>
  <div>
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="index3.html" class="brand-link">
        <img
          src='/dist/img/AdminLTELogo.png'
          alt="AdminLTE Logo"
          class="brand-image img-circle elevation-3"
          style="opacity: 0.8"
        />
        <span class="brand-text font-weight-light">Admin</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img
              src="/dist/img/user2-160x160.jpg"
              class="img-circle elevation-2"
              alt="User Image"
            />
          </div>
          <div class="info">
            <a href="#" class="d-block">{{$page.props.user.name}}</a>
          </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
          <div class="input-group" data-widget="sidebar-search">
            <input
              class="form-control form-control-sidebar"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <div class="input-group-append">
              <button class="btn btn-sidebar">
                <i class="fas fa-search fa-fw"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
          >
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <li class="nav-item menu-open">
              <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Dashboard
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="./index.html" class="nav-link active">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Dashboard v1</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="./index2.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Dashboard v2</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="./index3.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Dashboard v3</p>
                  </a>
                </li>
              </ul>
            </li>
          
          
            
            
            <li class="nav-header">Customer</li>
            <li class="nav-item">
              <a href="pages/calendar.html" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Calendar
                  <span class="badge badge-info right">2</span>
                </p>
              </a>
            </li>
          
           
            <li class="nav-item">
              <a href="#" class="nav-link" :class="{
                  active:
                    route().current('user.index') ||
                    route().current('user.create'),
                }">
                <i class="nav-icon far fa-envelope"></i>
                <p>
                  User
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <inertia-link   class="nav-link" 
                  :href="route('user.create')"
                  :class="{ active: route().current('user.create') == true }"
                  >
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add</p>
                  </inertia-link >
                </li>
                <li class="nav-item">
                  <inertia-link   class="nav-link" 
                  :href="route('user.index')"
                  :class="{ active: route().current('user.index') == true }">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All</p>
                  </inertia-link >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" :class="{
                  active:
                    route().current('role.index') ||
                    route().current('role.create'),
                }">
                <i class="nav-icon far fa-envelope"></i>
                <p>
                  Role
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <inertia-link   class="nav-link" 
                  :href="route('role.index')"
                  :class="{ active: route().current('role.index') == true }">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All</p>
                  </inertia-link >
                </li>
                <li class="nav-item">
                  <inertia-link   class="nav-link" 
                  :href="route('role.create')"
                  :class="{ active: route().current('role.create') == true }"
                  >
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add</p>
                  </inertia-link >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" :class="{
                  active:
                    route().current('branch.index') ||
                    route().current('branch.create'),
                }">
                <i class="nav-icon far fa-envelope"></i>
                <p>
                  Branch
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <inertia-link   class="nav-link" 
                  :href="route('branch.create')"
                  :class="{ active: route().current('branch.create') == true }"
                  >
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add</p>
                  </inertia-link >
                </li>
                <li class="nav-item">
                  <inertia-link   class="nav-link" 
                  :href="route('branch.index')"
                  :class="{ active: route().current('branch.index') == true }">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All</p>
                  </inertia-link >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-envelope"></i>
                <p>
                  Center
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="pages/mailbox/mailbox.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="pages/mailbox/compose.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All</p>
                  </a>
                </li>
              </ul>
            </li>
            
            
            <li class="nav-header">Loans</li>
            <li class="nav-header">Repayments</li>
            
            <li class="nav-header">Security</li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle text-danger"></i>
                <p class="text">Log Out</p>
              </a>
            </li>
            
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
  </div>
</template>

<script>
export default {};
</script>