<template>
   <div class="wrapper">

  <nav-bar/>

  <side-bar />

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <content-header/>
  <!-- Page Content -->
       <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
            <main>
                <slot></slot>
            </main>
        </div><!-- /.container-fluid -->
    </section>
  </div>
  
   <footer />
 

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
</template>

<script>
import { defineComponent } from "vue";
import ContentHeader from "./Components/ContentHeader.vue";
import Footer from "./Components/Footer.vue";
import NavBar from "./Components/NavBar.vue";
import SideBar from "./Components/SideBar.vue";


export default defineComponent({
  components: {
    SideBar,
    NavBar,
    Footer,
    ContentHeader
  },
});
</script>
